
* {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    }

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'open sans' , 'sans-serif';
}


.landing{
    position: relative;
    background-image: url(img/file-9QQ3zMQ1fEJiyugmqm4H9J.webp) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    transition:background-image 1s ease-in-out;
    z-index: 1;
}




@media (min-width :576px) {
    .landing{
        width: 570px;
    }
 } 
 @media (min-width :768px) {
    .landing{
        width: 760px;
    }
 }
 
 @media (min-width :992px) {
    .landing{
        width: 987px;
    }
 }
 
 @media (min-width :1200px) {
    .landing{
        width: 1190px;    
        }
 }
  

 .overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%);
    z-index: 2;
}
.header{
        position: relative;
        background-image: url(/img/IMG_20241226_030218.jpg);
        background-size: cover;
        background-position: center;
        height: 25vh;
        opacity: 75%;
        z-index: 3;
}

@media (min-width :497px) {
    .header{
        width: 490px;
    }
 } 
@media (min-width :576px) {
    .header{
        width: 570px;
    }
 } 
 @media (min-width :768px) {
    .header{
        width: 760px;
    }
 }
 
 @media (min-width :992px) {
    .header{
        width: 987px;
    }
 }
 
 @media (min-width :1200px) {
    .header{
        width: 1190px;    
        }
 }
 .sub{
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        align-items: center;
 }
.header input{
    position: absolute;
    color: #04040440;
    background-color: #83c3df;
    font-size: 16px;
    left: 25%;
    top: 100%;
    text-align: center;
}
.header .search{
    background-color: #890d04;
    position: absolute;
    top: 101%;
    right: 22%;
    font-size: 16px;
    width: 33px;
    height: 22px;
    color: #ffffff;
    border: 1px solid #2196F3;
    text-align: center;
    cursor: pointer;
}
.header .pars{
    color: #9dd4ff;
    color: #e1b36f;
    position: absolute;
    right: 10px;
    top: 35px;
    font-size: 25px;
    font-weight: 200;
}
.header .shopping{
    color: #9dd4ff;
    color: #e1b36f;
    position: absolute;
    left: 10px;
    top: 35px;
    font-size: 25px;
    font-weight: 200;
}
    .header ul{ 
    color: #e1b36f;
    list-style: none;
    flex-direction: column;
    position: absolute;
    top: 26%;
    right: 9px;
    width: 55%;
    background-color: rgb(18 13 13);
    font-weight: bold;
    font-size: 34px;
        display: none;
    }    


@media (min-width :360px) {
    .header ul{
        font-size: 25px;
    }
 } 
@media (min-width :411px) {
    .header ul{
        font-size: 30px;
    }
 } 
 @media (min-width :768px) {
    .header ul{
        font-size: 34px;
    }
 }

    .header ul li{
        padding: 15px ;
        border-bottom: 1px solid #e1b36f;
        text-decoration: none;
    }
    .header ul li a{
        text-decoration: none;
        color: inherit;
        transition: color 0.3s ease;
    }
    .header ul li a:hover{
        color: #175974;

    }
    @keyframes typing{
        from{
            width: 0;
        }
        to{
            width: 100%;
        }
    }
    @keyframes blink{
        50%{
            border-color: transparent;
        }
    }
    @keyframes fadeln{
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
 .itro{
    position: absolute;
    bottom: 85px;
    font-size: 65px;
    font-weight: bold;
    color: #FF9800;
    background-color: #0806032e;
    border-right: 3px solid #FF9800;
    width: 0;
    opacity: 0;
    white-space: nowrap;
    animation: fadeln 1s ease-in forwards 
    ,typing 6.5s steps(20) forwards
    , blink 0.5s step-end infinite;
    animation-delay: 0.5s;
    z-index: 3;
}

@media (min-width :360px) {
    .itro{
        font-size: 35px;
    }
 } 
@media (min-width :411px) {
    .itro{
        font-size: 40px;
    }
 } 
 @media (min-width :768px) {
    .itro{
        font-size: 50px;
    }
 }


    #softdrink {
        position: relative;
        display: flex;
        justify-content: center;
        padding-top: 60px;
        padding-bottom: 60px;
        padding-left: 10%;
        padding-right: 10%;
        margin-right: auto;
        margin-left: auto;
        align-items: center;
        flex-wrap: wrap;
    }
    h2{
        font-weight: bold;
        font-size: 55px;
        letter-spacing: -3px;
        color: #5b4019ed;
        padding-bottom: 30px;
    } 
    .dots{
        .dot{
            height: 17px;
            width: 18px;
            color: #776141;
            border-radius: 50%;
            display: inline-block;
            position: relative;
            bottom: -35px;
            background-color: #b37934;
        }
        .dot.active{
            color: #717171;
            background-color: #fbb144;
        }
    }
    .cars{
        display: flex;
        overflow: hidden;
        width: 100%;
        position: relative;
        cursor: grab;

    .pro{
        min-width: 100%;
        transition: transform 0.3s ease-in-out opacity 0.3s ease;
        position: relative;

        img{
            width: 330px;
            height: 410px;
            padding-bottom: 15px;
         }
          p{
            font-size: 30px;
            color: #b98538;
            font-weight: bold;
            span{
                font-size: 16px;
            }
         }
          h1 span{
            font-size: 15px;
            color: #fd0000e6;
         }
          h1{
            font-weight: bold;
            font-size: 27px;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            color: #b98538;
            sub{
                font-size: 15px;
            }
         }
          input{
            cursor: pointer;
            font-size: 22px;
            font-weight: bold;
            width: 95px;
            height: 35px;
            color: #ffebcf;
            background-color: #794b07f2;
            border: none;
            border-radius: 10%;
        }
     }
    }
         
     
    #sweetscorner{
        position: relative;
        display: flex;
        justify-content: center;
        padding-top: 60px;
        padding-bottom: 60px;
        padding-left: 10%;
        padding-right: 10%;
        margin-right: auto;
        margin-left: auto;
        align-items: center;
        flex-wrap: wrap;
        /* h2{
            font-weight: bold;
            font-size: 55px;
            letter-spacing: -3px;
            color: #5b4019ed;
        }

        img{
           width: 370px;
           height: 400px;
        } */
    }
    #snakschips{
        position: relative;
        display: flex;
        justify-content: center;
        padding-top: 60px;
        padding-bottom: 60px;
        padding-left: 10%;
        padding-right: 10%;
        margin-right: auto;
        margin-left: auto;
        align-items: center;
        flex-wrap: wrap;
        /* h2{
            font-weight: bold;
            font-size: 55px;
            letter-spacing: -3px;
            color: #5b4019ed;
        }

        img{
           width: 370px;
           height: 400px;
        } */
    }  
    #contact{
        position: relative;
        display: flex;
        justify-content: center;
        padding-top: 60px;
        padding-bottom: 60px;
        padding-left: 10%;
        padding-right: 10%;
        margin-right: auto;
        margin-left: auto;
        flex-wrap: wrap;
        align-content: center;
        flex-direction: column;
    .i{
    display: flex;
    font-size: 35px;
    padding-top: 80px;
    flex-direction: row-reverse;
    justify-content: space-between;
    color: #4f3b1d;
    a{    
        list-style: none;
        text-decoration: none;
        color: #4f3b1d;
    }
    }
    p{
        font-size: 22px;
    }
    } 
    footer{
    background-image: url(/img/images.jpg);
    position: relative;
    background-size: cover;
    height: 101px;
    .overlay{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(73 51 20 / 68%);
        z-index: 1;
    }
        h1{
            font-size: 34px;
            font-weight: bold;
            color: white;
            position: relative;
            z-index: 1;
        }
        p {
            font-size: 25px;
            color: white;
            position: relative;
            z-index: 1;
            a{
                text-decoration: none;
                list-style: none;
                font-size: 25px;
                color: #ffcb7d;
                font-weight: bold;
                font-weight: bold;
                padding-bottom: 4px;
            }
        }
    }